AUTH_SECRET=remplacer-par-une-longue-chaine-aleatoire

FIDELITY_USERNAME=fidelite
FIDELITY_PASSWORD=
EMPLOYEE_USERNAME=employe
EMPLOYEE_PASSWORD=
MANAGER_USERNAME=responsable
MANAGER_PASSWORD=
ADMIN_USERNAME=administrateur
ADMIN_PASSWORD=
LOYALTY_STAMPS_REQUIRED=10
LOYALTY_REWARD_LABEL=Récompense fidélité

GITHUB_TOKEN=
GITHUB_OWNER=thomasdubois60-svg
GITHUB_REPO=lebistrotducoin
GITHUB_BRANCH=main
