AUTH_SECRET=remplacer-par-une-longue-chaine-aleatoire

EMPLOYEE_USERNAME=employe
EMPLOYEE_PASSWORD=
MANAGER_USERNAME=responsable
MANAGER_PASSWORD=
ADMIN_USERNAME=administrateur
ADMIN_PASSWORD=

GITHUB_TOKEN=
GITHUB_OWNER=thomasdubois60-svg
GITHUB_REPO=lebistrotducoin
GITHUB_BRANCH=main
