AUTH_SECRET=remplacer-par-une-longue-chaine-aleatoire

FIDELITY_USERNAME=fidelite
FIDELITY_PASSWORD=
EMPLOYEE_USERNAME=employe
EMPLOYEE_PASSWORD=
MANAGER_USERNAME=responsable
MANAGER_PASSWORD=
ADMIN_USERNAME=administrateur
ADMIN_PASSWORD=
LOYALTY_STAMPS_REQUIRED=10
LOYALTY_REWARD_LABEL=Récompense fidélité

GITHUB_TOKEN=
GITHUB_OWNER=thomasdubois60-svg
GITHUB_REPO=lebistrotducoin
GITHUB_BRANCH=main
PUBLIC_SITE_URL=https://lebistrotducoin.vercel.app

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PUSH_SUBSCRIPTIONS_TABLE=push_subscriptions

NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:lebistrotducoin41220@gmail.com
